.clear { clear:both;}

#radarContainer {
	height:300px;
	position:relative;
}
#radarContainer  canvas{
	top:15%;
	left:30%;
	position:absolute;
}
#needleRotation {
	z-index:11;
}
#dataPlot{
	z-index: 10

}
#radar{

	z-index:9;
}
